
.container1 {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-bottom: 200px;
  margin-top: 60px;
}

.main1 {
  width: 600px;
  height: 450px;
}

.box1 {
  width: 100%;
  height: 60%;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2rem;
}

.box1 h2 {
  color: var(--blue);
}

.box2 {
  width: 100%;
  height: 40%;
}

.intro {
  color: var(--text-dark);
  padding: 20px 0px;
  font-family: Arial, Helvetica, sans-serif;
}

.grabbuton {
  background-color: var(--blue);
  width: 150px;
  height: 50px;
  cursor: pointer;
  border-radius: 10px;
  color: var(--bg-white);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
}

.forimg {
  width: 600px;
  height: 450px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 3px 3px 3px 2px rgba(128, 128, 128, 0.3);
}

.forimg img {
  width: 100%;
  height: 100%;
}

.container2 {
  width: 100%;
  height: 400px;
  margin-bottom: 200px;
}

.main2 {
  width: 100%;
  height: 100px;
  text-align: center;
  padding-top: 15px;
}

#notchg {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.5rem;
}

#chg {
  color: var(--blue);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.5rem;
}

.text1 {
  font-family: Arial, Helvetica, sans-serif;
}

.boxed {
  width: 100%;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.boxed1, .boxed2, .boxed3 {
  width: 400px;
  height: 250px;
  border: 1px solid var(--border-light);
  border-radius: 15px;
  background-color: var(--bg-card);
}

.logo1, .logo2, .logo3 {
  width: 80px;
  height: 80px;
  background-color: var(--blue);
  border-radius: 15px;
  margin: 15px 15px;
  font-size: 2.8rem;
  text-align: center;
  line-height: 80px;
  color: var(--bg-white);
}

#boxtitle1, #boxtitle2, #boxtitle3 {
  padding: 5px 10px;
  font-family: Arial, Helvetica, sans-serif;
  color: var(--text-heading);
}

#boxtext1, #boxtext2, #boxtext3 {
  padding: 5px 10px;
  font-family: Arial, Helvetica, sans-serif;
  color: var(--text-body);
}

.container3 {
  width: 100%;
  height: 600px;
  margin-bottom: 200px;
}

.btn1 {
  width: 100%;
  height: 300px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
}

.sqbox {
  width: 350px;
  height: 150px;
  display: flex;
  gap: 10px;
}

.log {
  width: 70px;
  height: 70px;
  background-color: var(--icon-bg-soft);
  border-radius: 100%;
  font-size: 2.8rem;
  text-align: center;
  line-height: 70px;
  color: var(--blue);
}

.wdbox {
  font-family: Arial, Helvetica, sans-serif;
  color: var(--text-body);
}

.btn2 {
  width: 100%;
  height: 300px;
  background-color: var(--text-dark);
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

.btn2 h1 {
  color: var(--bg-white);
  line-height: 100px;
}

.btn2 p {
  line-height: 100px;
  color: var(--bg-white);
}

.btn2 button {
  background-color: var(--blue);
  width: 200px;
  height: 60px;
  border-radius: 15px;
  color: var(--bg-white);
  font-size: 1rem;
  cursor: pointer;
}

.container4 {
  width: 100%;
  height: 280px;
  text-align: center;
  line-height: 80px;
  font-family: Arial, Helvetica, sans-serif;
}

.container4 button a {
  color: var(--bg-white);
}

.container4 button {
  width: 170px;
  height: 50px;
  border-radius: 10px;
  background-color: var(--blue);
  color: var(--bg-white);
  font-size: 0.9rem;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: var(--bg-white);
}

.container5 {
  width: 100%;
  height: 505px;
  background-color: var(--text-dark);
}

.container5 section {
  width: 100%;
  height: 400px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}

.boxfoot {
  width: 250px;
  height: 300px;
}

.boxfoot1 {
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  color: var(--blue);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.5rem;
  text-align: start;
}

#bft1 {
  width: 23%;
  height: 60px;
  background-color: var(--blue);
  border-radius: 15px;
  font-size: 2rem;
  color: var(--bg-white);
  text-align: center;
  line-height: 60px;
}

#bft2 {
  width: 70%;
  height: 100px;
  line-height: 100px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.5rem;
}

#bft2 span:nth-of-type(1) {
  color: var(--bg-white);
}

#bft2 span:nth-of-type(2) {
  color: var(--blue);
}

.boxfoot2, .boxfoot4, .boxfoot6, .boxfoot8 {
  width: 100%;
  height: 200px;
  padding-left: 10px;
  line-height: 35px;
  font-family: Arial, Helvetica, sans-serif;
  color: var(--bg-white);
}

.boxfoot3, .boxfoot5, .boxfoot7 {
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  color: var(--blue);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.5rem;
  text-align: start;
}

.bxt1 {
  width: 100%;
  height: 100px;
  display: flex;
}

.bxt1 div:nth-of-type(1) {
  width: 11%;
  height: 100px;
  font-size: 1.3rem;
  color: var(--blue);
}

.bxt1 div:nth-of-type(2) {
  width: 80%;
  height: 100px;
  color: var(--bg-white);
}

.bxt2, .bxt3 {
  width: 100%;
  height: 50px;
  display: flex;
}

.bxt2 div:nth-of-type(1), .bxt3 div:nth-of-type(1) {
  width: 11%;
  height: 50px;
  font-size: 1.2rem;
  color: var(--blue);
}

.bxt2 div:nth-of-type(2), .bxt3 div:nth-of-type(2) {
  width: 80%;
  height: 50px;
  color: var(--bg-white);
}

.foot {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.foot footer {
  width: 1250px;
  height: 100px;
  text-align: center;
  line-height: 100px;
  font-family: Arial, Helvetica, sans-serif;
  color: var(--bg-white);
  border-top: 1px solid var(--border-light);
}

@media (max-width: 450px) {
  body {
    width: 100%;
    height: 100vh;
  }

  .main1 {
    width: 100%;
  }

  .container1 {
    display: block;
    height: 920px;
  }

  .container2 {
    height: 940px;
    margin-bottom: 200px;
  }

  .container3 {
    height: 900px;
    margin-bottom: 200px;
  }

  .box2 {
    width: 100%;
  }

  .forimg {
    width: 380px;
    margin: 5px;
  }

  img {
    width: 100%;
  }

  .main2 {
    height: 150px;
  }

  .boxed {
    height: 800px;
  }

  .btn1 {
    height: 550px;
  }

  .btn2 {
    height: 340px;
  }

  .btn2 h1 {
    line-height: 80px;
  }

  .btn2 p {
    line-height: 80px;
  }

  .container4 {
    height: 280px;
    line-height: 60px;
  }

  .container5 {
    height: 1370px;
  }

  .foot {
    margin-top: 870px;
  }

  .boxfoot2, .boxfoot4, .boxfoot6 {
    line-height: 35px;
    height: 150px;
  }

  .boxfoot8 {
    line-height: 35px;
    height: 260px;
  }
}
